<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order Confirmation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Order Confirmation</h1>
  <p>Thank you, {{ customer_name }}! Your order has been placed.</p>
  <p><strong>Location:</strong> {{ location }}</p>
  <h2>Order Details:</h2>
  <ul>
    {% for item in order %}
      <li>{{ item.name }} - shs.{{ item.price }}</li>
    {% endfor %}
  </ul>
  <p><strong>Total Price:</strong> shs.{{ total_price }}</p>
  <a href="/">Place Another Order</a>
  
</body>
</html>
