<form method="POST">
    <h2>Menu</h2>
    <label>
        <input type="checkbox" name="order" value="Burger - $5">
        Burger - $5
    </label><br>
    <label>
        <input type="checkbox" name="order" value="Pizza - $8">
        Pizza - $8
    </label><br>
    <label>
        <input type="checkbox" name="order" value="Soda - $2">
        Soda - $2
    </label><br><br>
    
    <input type="hidden" name="total_price" value="15"> <!-- Replace this with the calculated total price -->
    <button type="submit">Place Order</button>
</form>
